<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6 text-center">
            <h1 class="mb-4">Admin Control Panel</h1>
            <div class="btn-group-vertical">
                <a href="/events/add" class="btn btn-primary btn-lg mb-3"><i class="fas fa-calendar-plus me-2"></i>Add Event</a>
                <a href="/events" class="btn btn-primary btn-lg mb-3"><i class="fas fa-calendar-alt me-2"></i>View Events</a>
                <a href="/participants" class="btn btn-primary btn-lg mb-3"><i class="fas fa-users me-2"></i>View Participants</a>
                <a href="/news" class="btn btn-primary btn-lg mb-3"><i class="fas fa-newspaper me-2"></i>View News</a>
                <a href="/add" class="btn btn-primary btn-lg mb-3"><i class="fas fa-plus-circle me-2"></i>Add News</a>
                <a href="/basty" class="btn btn-warning btn-lg mb-3"><i class="fas fa-globe-americas me-2"></i>Basty Bet</a>
                <!-- Add more buttons for other routes as needed -->
            </div>
        </div>
    </div>
</div>
<!-- Include Bootstrap JS and any other scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>
