<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    .grid text-center h5:hover{
        color:#ffe600;
        transform: scale(1.4)
    }
   .grid text-center p:hover{
        transform: scale(1.1)
    }
    .grid text-center li:hover{
        transform: scale(1.1)
    }

</style>
<hr>
<div class="grid text-center" style="--bs-columns: 2;">
    <div style="width: 90%; margin-left: 5%">
        <h5>Мақсаты:</h5>
        <p>Мемлекеттің білімі мен ғылымын, ұстаздардың инновациялық әдістері мен шығармашылық қабілеттерін шыңдау, педагогтердің біліктілігін арттыру және дарынды, өнерлі, білімді жастардың үздік жобаларына қолдау көрсету арқылы Қазақстанның тұрақты дамуына үлес қосу.</p>
    </div>
    <div>
        <div class="grid" style="--bs-columns: 12;">
            <div class="g-col-12"><h5>Міндеттері:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Халықаралық, республикалық мәндегі қоғамдық іс-шараларды және  еліміздің білімі мен ғылымын жаңғырту бағытындағы маңызды іс-шараларды ұйымдастыру;              </li>
                    <li class="list-group-item">Педагогтердің инновациялық әдістері мен шығармашылық әлеуетін қалыптастыру;</li>
                    <li class="list-group-item">Оқушылардың, жасөспірімдердің зерттеушілік, ғылыми ойлау қабілеттерін дамыту.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
