
<footer>
    <hr style="margin-top: 30vw;">
    <div class="row justify-content-evenly">
        <div class="col-4">
            <p><img src="logobo.png" id="f_logo">
                Bilim-Òrkenieti ұлттық инновациялық<br> ғылыми-зерттеу орталығы</p>
        </div>
        <div class="col-4">
            <div>
                <a href="https://www.instagram.com/bilim_orkeniety/"> <i style='font-size:1.5vw' class='fab'>&#xf16d;</i>&nbsp;bilim_orkeniety</a>
                <br>
                <a href="https://2gis.kz/astana/inside/9570784863328546?m=71.418522%2C51.121393%2F16.9"> <i class='fas fa-map-marker-alt' style='font-size:1.5vw' ></i>&nbsp;Нұр-Сұлтан қаласы, Қабанбай батыр даңғылы 40</a>
                <p> <i style='font-size:1.5vw' class='fas'>&#xf095;</i>&nbsp;+7 (747) 628 80 54</p>
            </div>
        </div>
    </div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.13.2/datatables.min.js"></script>
<script>
    $(document).ready(function(){
        $("table").DataTable({
            order: [0, 'desc']
        });
    });
</script>