<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.2/datatables.min.css"/>
</head>
<header>
    <div class="header_flex">
        <div class="header_logo">
            <img src="media/logo.png" alt="">
        </div>

        <div  class="topnav" id="myTopnav">
            <div class="header_logo">
                <img src="../logobo.png" alt="">
            </div>
            <a href="/basty" class="active">Басты бет</a>
            <a href="#news">Жаңалықтар</a>
            <a href="#ftr">Байланыс</a>
            <a href="https://taplink.cc/bilim_orkeniety">Байқаулар</a>
            <a href="javascript:void(0);" class="icon" onclick="resNav()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</header>